.navbar-brand {
    font-size: 1.3rem !important;
}

a, .nav-link{
    font-size: 1.1rem !important;
}

a, .dropdown-item {
    font-size: 1rem !important;
}

.navbar{
    background-color: #244f99;
    background-image: linear-gradient(to bottom right, #244f99 , #4f72ac );
    /* linear-gradient(to bottom right, #2cb5e8 75%, #1fc8db 51%, #1fc8db 75%); */
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: rgba(255, 255, 255);
    /* background-color: #4f72ac; */
}

.dropdown-menu{
    box-shadow: 0 3px 8px rgba(0, 0, 0, .3);
    border: 0px !important;
    min-width: 12rem !important;
}

.dropdown-item:hover {
    color: rgba(255, 255, 255) !important;
    text-decoration: none;
    background-color: #4f72ac !important;
}