/* .container {
    text-align: center;
}

.text-muted {
    font-size: 14px;
    font-family: sans-serif;
    color: whitesmoke !important;
}

footer{
    min-height: 40px;
    background-color: rgba(0, 0, 0, 0.9);
} */

