.content{
    margin-top: 60px;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #244f99;
}

a{
    color: #244f99;
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    color: #fff;
    background-color: #4f72ac;
    /* text-decoration: underline; */
}

th{
    text-align: center;
}

.ngx-th{
    font-weight: bold;
}
