<div class="container-contact100">
  <div class="wrap-contact100">
    <form class="contact100-form validate-form">
      <span class="contact100-form-title">
        ผลการสอบทักษะ
      </span>
      <table class="table table-striped" *ngIf="std_skill">
        <thead>
          <tr>
            <th scope="col">ลำดับ</th>
            <th scope="col" style="text-align:center;">ทักษะการเขียนโปรแกรม</th>
            <th scope="col">เกรด</th>
            <th scope="col">จัดการ</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>1.</th>
            <th scope="row">
              <fa name="fab fa-html5"></fa> HTML
            </th>
            <td>{{std_skill.stdSkillHtml}}</td>
            <td><button type="button" class="btn btn-warning">แก้ไข</button></td>
          </tr>
          <tr>
            <th>2.</th>
            <th scope="row">
              <img class="svg" width="13px;" src="/assets/img/icon/css3-alt-brands.svg" alt="CSS"> CSS
            </th>
            <td>{{std_skill.stdSkillCss}}</td>
            <td><button type="button" class="btn btn-warning">แก้ไข</button></td>
          </tr>
          <tr>
            <th>3.</th>
            <th scope="row">
              <img class="svg" width="20px;" src="/assets/img/icon/php-brands.svg" alt="PHP"> PHP</th>
            <td>{{std_skill.stdSkillPhp}}</td>
            <td><button type="button" class="btn btn-warning">แก้ไข</button></td>
          </tr>
          <tr>
            <th>4.</th>
            <th scope="row">
              <fa name="fas fa-database"></fa> SQL
            </th>
            <td>{{std_skill.stdSkillSql}}</td>
            <td><button type="button" class="btn btn-warning">แก้ไข</button></td>
          </tr>
          <tr>
            <th>5.</th>
            <th scope="row"><img class="svg" width="15px;" src="/assets/img/icon/js-square-brands.svg" alt="JavaScript">
              JavaScript</th>
            <td>{{std_skill.stdSkillJs}}</td>
            <td><button type="button" class="btn btn-warning">แก้ไข</button></td>
          </tr>
        </tbody>
      </table>
    </form>
  </div>
</div>