<div class="container-contact100">
  <div class="wrap-contact100">
    <form class="contact100-form validate-form">
      <span class="contact100-form-title">
        ผลการสอบทักษะ
      </span>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">ทักษะ</th>
            <th scope="col">เกรด</th>
            <th scope="col">คะแนน</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">
              <fa name="fab fa-html5"></fa> HTML
            </th>
            <td>-</td>
            <td>-</td>
            <td><button type="button" class="btn btn-warning">แก้ไข</button></td>
          </tr>
          <tr>
            <th scope="row">
              <img class="svg" width="13px;" src="/assets/img/icon/css3-alt-brands.svg" alt="CSS"> CSS
            </th>
            <td>-</td>
            <td>-</td>
            <td><button type="button" class="btn btn-warning">แก้ไข</button></td>
          </tr>
          <tr>
            <th scope="row">
              <img class="svg" width="20px;" src="/assets/img/icon/php-brands.svg" alt="PHP"> PHP</th>
            <td>-</td>
            <td>-</td>
            <td><button type="button" class="btn btn-warning">แก้ไข</button></td>
          </tr>
          <tr>
            <th scope="row">
              <fa name="fas fa-database"></fa> SQL
            </th>
            <td>-</td>
            <td>-</td>
            <td><button type="button" class="btn btn-warning">แก้ไข</button></td>
          </tr>
          <tr>
            <th scope="row"><img class="svg" width="15px;" src="/assets/img/icon/js-square-brands.svg" alt="JavaScript">
              JavaScript</th>
            <td>-</td>
            <td>-</td>
            <td><button type="button" class="btn btn-warning">แก้ไข</button></td>
          </tr>
        </tbody>
      </table>
    </form>
  </div>
</div>