<div class="card">
  <div class="card-body">
    <h4>ประกาศการรับสมัครนิสิตสหกิจศึกษา</h4>
    <form class="needs-validation" novalidate="" style="padding:20px;">
   
    </form>
          <ngx-datatable 
          class="material expandable" 
          [rows]="rows" 
          [loadingIndicator]="loadingIndicator" 
          [columns]="columns"
          [columnMode]="'force'" 
          [headerHeight]="50" 
          [footerHeight]="50" 
          [rowHeight]="'auto'" 
          [reorderable]="reorderable">
            <ngx-datatable-column name="Name" [width]="1">
                <ng-template ngx-datatable-header-template>
                    <h5>รายชื่อบริษัท</h5>
                  </ng-template>
              <ng-template ngx-datatable-cell-template let-value="value">
                {{value}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Name" [width]="1">
                <ng-template ngx-datatable-header-template>
                    <h5>ดูรายละเอียด</h5>
                  </ng-template>
              <ng-template ngx-datatable-cell-template let-value="value">
                คลิก
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>

     
  </div>
</div>