<div class="container-contact100">
  <div class="wrap-contact100">
    <form class="contact100-form validate-form">
      <span class="contact100-form-title">จัดการชั่วโมงอบรมวิชาการ</span>

      <table id="example" class="table table-striped table-bordered" style="width:100%">
        <thead>
          <tr>
            <th>วันที่</th>
            <th>หัวข้อ</th>
            <th>ชั่วโมง</th>
            <th>รวม</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>22/2/2562</td>
            <td>Prism Solutions</td>
            <td>3</td>
            <td>3</td>
          </tr>
          <tr>
            <td>28/2/2562</td>
            <td>MFEC</td>
            <td>3</td>
            <td>6</td>
          </tr>
        </tbody>
      </table>
    </form>
  </div>
</div>