<div class="container-contact100">
  <div class="wrap-contact100">
    <form class="contact100-form validate-form">
      <span class="contact100-form-title">จัดการชั่วโมงอบรมวิชาการ</span>

      <table id="example" class="table table-striped table-bordered" style="width:100%">
        <thead>
          <tr style="background:#B0C4DE;text-align: center;">
            <th>รหัสนิสิต</th>
            <th>ชื่อ - นามสกุล</th>
            <th>จำนวนชั่วโมง</th>
            <th>จัดการ</th>
          </tr>
        </thead>
        <tbody>
          <tr style="text-align: center;">
            <td>5856484</td>
            <td>kkkkk</td>
            <td>3</td>
            <td>
              <a href="#">
                <fa name="edit" class="btn btn-warning" style="color:white"></fa>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </form>
  </div>
</div>