<div class="container-contact100">
  <div class="wrap-contact100">
    <form class="contact100-form validate-form">
      <span class="contact100-form-title">จัดการชั่วโมงอบรมวิชาการ</span>

      <div class="tab-content col-md-12" id="nav-tabContent ">
        <div class="tab-pane fade show active " id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
          <table class="table table-hover ng-scope" style="text-align: center;">
            <thead style="background:#B0C4DE;">
              <tr>
                <th class="ng-binding ng-scope">รหัสนิสิต</th>
                <th class="ng-binding ng-scope">ชื่อ - นามสกุล</th>
                <th class="ng-binding ng-scope">จำนวนชั่วโมง</th>
                <th class="ng-binding ng-scope">จัดการ</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="row in data.rows" class="ng-scope">
                <td class="ng-binding">58160651</td>
                <td class="ng-binding">Mark</td>
                <td class="ng-binding">3</td>
                <td class="ng-binding">
                  <a href="#">
                    <fa name="search" class="btn btn-secondary"></fa>
                  </a>
                  <a href="#" style="padding-left: 2%;">
                    <fa name="edit" class="btn btn-warning" style="color:white"></fa>
                  </a>
                </td>
              </tr>
              <tr ng-repeat="row in data.rows" class="ng-scope">
                <td class="ng-binding">58160673</td>
                <td class="ng-binding">Boat</td>
                <td class="ng-binding">6</td>
                <td class="ng-binding">
                  <a href="#">
                    <fa name="search" class="btn btn-secondary"></fa>
                  </a>
                  <a href="#" style="padding-left: 2%;">
                    <fa name="edit" class="btn btn-warning" style="color:white"></fa>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
          <table class="table table-hover ng-scope" style="text-align: center;">
            <thead style="background:#B0C4DE;">
              <tr>
                <th class="ng-binding ng-scope">รหัสนิสิต</th>
                <th class="ng-binding ng-scope">ชื่อ - นามสกุล</th>
                <th class="ng-binding ng-scope">จำนวนชั่วโมง</th>
                <th class="ng-binding ng-scope">จัดการ</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="row in data.rows" class="ng-scope">
                <td class="ng-binding">58160651</td>
                <td class="ng-binding">เกศสุดา ทวีุข</td>
                <td class="ng-binding">3</td>
                <td class="ng-binding">
                  <a href="#">
                    <fa name="search" class="btn btn-secondary"></fa>
                  </a>
                  <a href="#" style="padding-left: 2%;">
                    <fa name="edit" class="btn btn-warning" style="color:white"></fa>
                  </a>
                </td>
              </tr>
              <tr ng-repeat="row in data.rows" class="ng-scope">
                <td class="ng-binding">58160500</td>
                <td class="ng-binding">สุกัลย์ สิทธิบำรุงสุข</td>
                <td class="ng-binding">6</td>
                <td class="ng-binding">
                  <a href="#">
                    <fa name="search" class="btn btn-secondary"></fa>
                  </a>
                  <a href="#" style="padding-left: 2%;">
                    <fa name="edit" class="btn btn-warning" style="color:white"></fa>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </form>
  </div>
</div>