<meta charset="UTF-8">
<table style="width:100%;">
    <tr>
        <td>
            <table style="width:100%;">
                    <tr>
                        <td style="width:10%;">
                            <img src="/assets/img/Buu-logo.png">
                        </td>
                        <td style="width:80%;text-align:center;">
                            <span style="font-size:24px;"><b>ใบสมัครเป็นนิสิตสหกิจศึกษา</b></span>
                            <br>
                            วิชาสหกิจศึกษา คณะวิทยาการสารสนเทศ มหาวิทยาลัยบูรพา
                            <br>
                            <b>Cooperative Education --- Faculty of Informatics Burapha University</b>
                        </td>
                        <td style="width:10%;text-align:center;">
                            <p><b>IN-S001</b></p>
                        </td>
                    </tr>

                    <tr>
                        <td style="width:10%;">
                        </td>
                        <td style="width:80%;padding-left:10%;">
                            <p><b>1. ชื่อ - นามสกุล</b></p>
                            <span style="padding-left:5%;">(ไทย) นาย/น.ส.</span>
                            <br>
                            <span style="padding-left:5%;">(English) Mr./Miss</span>
                            <br>
                            <span style="padding-left:5%;">รหัสนิสิต</span>
                            <span style="padding-left:25%;">ชั้นปี</span>
                            <span style="padding-left:25%;">หลักสูตร</span>
                        </td>
                        <td style="width:10%;">
                        </td>
                        <!-- <td colspan="3" style="padding:2%;">
                            <span style="padding-left:10%;"><b>1. ชื่อ - นามสกุล</b></span>
                            <span style="padding-left:5%;">(ไทย) นาย/น.ส. ________________________________________________________________________</span>
                            <br>
                            <span style="padding-left:25.5%;">(English) Mr./Miss ____________________________________________________________________</span>
                            <br>
                            <span style="padding-left:10%;">รหัสนิสิต __________________________________________</span>
                            <span>ชั้นปี ___________________________________________________</span>
                            <br>
                            <span style="padding-left:10%;">หลักสูตร __________________________________________</span>
                            <span>สาขาวิชา _______________________________________________</span>
                            <br>
                            <span style="padding-left:10%;">จำนวนหน่วยกิตที่เรียนมาแล้ว __________________________________หน่วยกิต</span>
                            <span>GPAX _________________________________</span>
                        </td> -->
                    </tr>
            </table>
        </td>
    </tr>
</table>