<meta charset="UTF-8">
<table>
    <tr>
        <td>
            <table class="table-tr" style="width:100%;">
                <tr class="table-tr">
                    <td style="width:10%;">
                        <img src="/assets/img/Buu-logo.png">
                    </td>
                    <td style="width:80%;text-align:center;">
                        <br>
                        <br>
                        <br>
                        <span style="font-size:24px;">
                            <b>ใบสมัครเป็นนิสิตสหกิจศึกษา</b>
                        </span>
                        <br> วิชาสหกิจศึกษา คณะวิทยาการสารสนเทศ มหาวิทยาลัยบูรพา
                        <br>
                        <b>Cooperative Education --- Faculty of Informatics Burapha University</b>
                        <br>
                        <br>
                        <br>
                    </td>
                    <td style="width:10%;text-align:center;">
                        <p>
                            <b>IN-S001</b>
                        </p>
                    </td>
                </tr>

                <tr class="table-tr">
                    <td style="width:10%;">
                    </td>
                    <td style="width:80%;padding: 1%;">
                        <p style="padding-left:5%;">
                            <b>1. ชื่อ - นามสกุล : </b>
                            <span style="padding-left:10%;">(ไทย) นาย/น.ส. </span>
                        </p>
                        <p style="padding-left:30%;">(English) Mr./Miss </p>
                        <p>
                            <span style="padding-left:5%;">รหัสนิสิต </span>
                            <span style="padding-left:10%;">ชั้นปี </span>
                            <span style="padding-left:10%;">หลักสูตร </span>
                        </p>
                        <p>
                            <span style="padding-left:5%;">สาขาวิชา </span>
                            <span style="padding-left:5%;">จำนวนหน่วยกิตที่เรียนมาแล้ว หน่วยกิต</span>
                            <span style="padding-left:5%;">GPAX </span>
                        </p>

                    </td>
                    <td style="width:10%;">
                    </td>
                </tr>

                <tr class="table-tr">
                    <td style="width:10%;">
                    </td>
                    <td style="width:80%;padding: 1%;">
                        <p style="padding-left:5%;">
                            <b>2.ที่อยู่ตามทะเบียนบ้าน : </b>
                        </p>
                        <p>
                            <span style="padding-left:5%;">บ้านเลขที่ </span>
                            <span style="padding-left:10%;">ถนน </span>
                            <span style="padding-left:10%;">ตำบล </span>
                        </p>
                        <p>
                            <span style="padding-left:5%;">อำเภอ </span>
                            <span style="padding-left:10%;">จังหวัด </span>
                            <span style="padding-left:10%;">รหัสไปรษณีย์ </span>
                        </p>
                        <p>
                            <span style="padding-left:5%;">โทรศัพท์ </span>
                            <span style="padding-left:10%;">โทรสาร </span>
                            <span style="padding-left:10%;">E-mail </span>
                        </p>
                    </td>
                    <td style="width:10%;">
                    </td>
                </tr>

                <tr class="table-tr">
                    <td style="width:10%;">
                    </td>
                    <td style="width:80%;padding: 1%;">
                        <p style="padding-left:5%;">
                            <b>3.ที่อยู่ตามทะเบียนปัจจุบัน : </b>
                        </p>
                        <p style="padding-left:7%;">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">หอพัก</label>
                        </p>
                        <p style="padding-left:7%;">
                            <input type="checkbox" class="form-check-input" id="exampleCheck2">
                            <label class="form-check-label" for="exampleCheck1">บ้าน/อื่นๆ</label>
                        </p>
                        <p>
                            <span style="padding-left:5%;">หอพัก </span>
                            <span style="padding-left:10%;">ห้อง </span>
                            <span style="padding-left:10%;">โทรศัพท์ </span>
                            <span style="padding-left:10%;">มือถือ </span>
                        </p>
                        <p>
                            <span style="padding-left:5%;">เลขที่ </span>
                            <span style="padding-left:10%;">ถนน </span>
                            <span style="padding-left:10%;">ตำบล </span>
                        </p>
                        <p>
                            <span style="padding-left:5%;">อำเภอ </span>
                            <span style="padding-left:10%;">จังหวัด </span>
                            <span style="padding-left:10%;">รหัสไปรษณีย์ </span>
                        </p>
                        <div style="display:none;">
                            <p style="padding-left:5%;">อื่นๆระบุที่อยู่</p>
                            <p>
                                <span style="padding-left:5%;">บ้านเลขที่ </span>
                                <span style="padding-left:10%;">ถนน </span>
                                <span style="padding-left:10%;">ตำบล </span>
                            </p>
                            <p>
                                <span style="padding-left:5%;">อำเภอ </span>
                                <span style="padding-left:10%;">จังหวัด </span>
                                <span style="padding-left:10%;">รหัสไปรษณีย์ </span>
                            </p>
                            <p>
                                <span style="padding-left:5%;">โทรศัพท์ </span>
                                <span style="padding-left:10%;">โทรสาร </span>
                                <span style="padding-left:10%;">E-mail </span>
                            </p>
                        </div>
                    </td>
                    <td style="width:10%;">
                    </td>
                </tr>

                <tr class="table-tr">
                    <td style="width:10%;">
                    </td>
                    <td style="width:80%;padding: 1%;">
                        <p style="padding-left:5%;">
                            <b>4.ผู้ปกครองของนิสิต (นิสิตจะต้องได้รับอนุญาตจากผู้ปกครองในการไปปฏิบัติงาน โดยโครงการฯจะ แจ้งให้ผู้ปกครองทราบต่อไป)
                            </b>
                        </p>
                        <p>
                            <span style="padding-left:5%;">ชื่อ</span>
                            <span style="padding-left:10%;">ความสัมพันธ์กับนิสิต</span>
                        </p>
                        <p>
                            <span style="padding-left:5%;">บ้านเลขที่ </span>
                            <span style="padding-left:10%;">ถนน </span>
                            <span style="padding-left:10%;">ตำบล </span>
                        </p>
                        <p>
                            <span style="padding-left:5%;">อำเภอ </span>
                            <span style="padding-left:10%;">จังหวัด </span>
                            <span style="padding-left:10%;">รหัสไปรษณีย์ </span>
                        </p>
                        <p>
                            <span style="padding-left:5%;">โทรศัพท์ </span>
                            <span style="padding-left:10%;">โทรสาร </span>
                            <span style="padding-left:10%;">E-mail </span>
                        </p>
                    </td>
                    <td style="width:10%;">
                    </td>
                </tr>

                <tr class="table-tr">
                    <td style="width:10%;">
                    </td>
                    <td>
                        <p style="padding-left:5%;padding: 1%;">
                            <b>5. ภาคการศึกษาที่คาดว่าจะไปปฏิบัติงานสหกิจศึกษา ภาคการศึกษาที่ ปีการศึกษา </b>
                        </p>
                    </td>
                    <td style="width:10%;">
                    </td>
                </tr>

                <tr class="table-tr">
                    <td style="width:10%;">
                    </td>
                    <td style="padding: 2%;">
                        <p style="text-align: right;">
                            <span>ลงชื่อนิสิต______________________________</span>
                        </p>
                        <p style="text-align: right;">
                            <span>(_____________________________)</span>
                        </p>
                        <p style="text-align: right;">
                            <span>วันที่______________________________</span>
                        </p>
                        <p style="text-align: center;">
                            <b>คณะวิทยาการสารสนเทศ มหาวิทยาลัยบูรพา</b>
                        </p>
                        <p style="text-align: center;">
                            <b>169 ถ.ลงหาดบางแสน ต.แสนสุข อ.เมือง จ.ชลบุรี 20131</b>
                        </p>
                        <p style="text-align: center;">
                            <b>โทรศัพท์ 038-103060-1 โทรสาร 038-393245</b>
                        </p>
                        <p style="text-align: center;">
                            <b>E-mail: kamonwans@buu.ac.th website : http://www.informatics.buu.ac.th/coop</b>
                        </p>
                    </td>
                    <td style="width:10%;">
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>