<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="container" *ngIf="isSignin && isAdmin || isSignin && isStaff">
    <div class="accordion mt-5" id="accordionExample">
      <div class="card">
        <div class="card-header" id="headingOne">
          <h5 class="mb-0">
            <!--data-target="#collapseOne"-->
            <div class="bd-content-title" data-toggle="collapse" aria-expanded="true" aria-controls="collapseOne">
                ฟอร์มข้อมูลแก้ไขประกาศรับสมัคร
            </div>
          </h5>
        </div>
        <div class="card-body">
          <div class="panel panel-info">
            <div class="panel-body">
              <div id="div_id_email" class="form-group required">
                <label for="id_email" class="control-label col-md-4  requiredField">จำนวนที่รับ<span
                    class="asteriskField">*</span> </label>
                <div class="controls col-md-4 ">
                  <select class="form-control" id="exampleFormControlSelect2">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
                </div>
              </div>
              <div class="form-group required">
                <label class="control-label col-md-4  requiredField">สวัสดิการ<span
                    class="asteriskField">*</span> </label>
                <div class="controls col-md-8 ">
                  <input class="form-control" id="id_password2" name="password2"
                    placeholder="ex. เบี้ยเลี้ยง xxx บาท/วัน หรือ รถรับส่ง" style="margin-bottom: 10px">
                </div>
              </div>
              <div id="div_id_email" class="form-group required">
                <label for="" class="control-label col-md-4  requiredField">ตำแหน่งที่ต้องการรับสมัคร<span
                    class="asteriskField">*</span> </label>
                <div class="controls col-md-4 ">
                  <select class="form-control" id="exampleFormControlSelect2">
                    <option>Programer</option>
                    <option>Tester</option>
                    <option>Business Analyst</option>
                    <option>Web application</option>
                  </select>
                </div>
              </div>
              <div id="div_id_email" class="form-group required">
                <label for="" class="control-label col-md-4  requiredField">ความสามารถด้านวิชาการ<span
                    class="asteriskField">*</span> </label>
                <div class="controls col-md-4 ">
                  <select class="form-control" id="exampleFormControlSelect2">
                    <option>HTML</option>
                    <option>CSS</option>
                    <option>PHP</option>
                    <option>Java Script</option>
                  </select>
                </div>
              </div>
              <div id="div_id_name" class="form-group required">
                <label for="id_name" class="control-label col-md-2  requiredField">วันคัดเลือกส่งใบสมัคร<span
                    class="asteriskField">*</span> </label>
                    <mat-form-field>
                      <input matInput [matDatepicker]="picker" placeholder="">
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker startView="year" [startAt]="startDate" ></mat-datepicker>
                    </mat-form-field>
                    &nbsp;ถึง&nbsp;
                    <mat-form-field>
                        <input matInput [matDatepicker]="picker1" placeholder="">
                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1 startView="year" [startAt]="startDate" ></mat-datepicker>
                      </mat-form-field>
                <div>      
                  <div class="form-group pull-right">
                    <button type="button" class="btn btn-primary">บันทึก</button>
                  </div>
                </div>

            </div>
          </div>
        </div>
      </div>
</div>