<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="container">
  <div class="accordion mt-5" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <!--data-target="#collapseOne"-->
          <div class="bd-content-title" data-toggle="collapse" aria-expanded="true" aria-controls="collapseOne">
            ฟอร์มข้อมูลการประกาศรับสมัคร
          </div>
        </h5>
      </div>
      <div class="card-body">
        <div class="form-group row">
          <label class="col-md-3 col-form-label text-lg-right no-padding-right">สถานประกอบการ</label>
          <div class="controls col-md-4" *ngIf="org != null">
            <input class="form-control" type="text" id="annOrgId" name="annOrgId" [value]="org[0].orgNameTh" disabled style="margin-bottom: 10px">
          </div>
          <label class="col-sm-2 col-form-label text-lg-right no-padding-right" for="annStdAmount">จำนวนที่รับ
            <span class="asteriskField" style="color: red;">*</span>
          </label>
          <div class="controls col-md-2 ">
            <select class="form-control" [(ngModel)]="annStdAmount" id="annStdAmount">
              <option value='1'>1</option>
              <option value='2'>2</option>
              <option value='3'>3</option>
              <option value='4'>4</option>
              <option value='5'>5</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label text-lg-right no-padding-right" for="annReward">สวัสดิการ<span style="color: red;"
              class="asteriskField">*</span>
          </label>
          <div class="controls col-md-8 ">
            <input class="form-control" id="annReward" name="annReward" [(ngModel)]="annReward"
              placeholder="ex. เบี้ยเลี้ยง xxx บาท/วัน หรือ รถรับส่ง" style="margin-bottom: 10px">
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label text-lg-right no-padding-right" for="annWorkshift">วันทำงาน<span style="color: red;"
              class="asteriskField">*</span> </label>
          <div class="controls col-md-8 ">
            <input class="form-control" id="annWorkshift" name="annWorkshift" [(ngModel)]="annWorkshift"
              placeholder="ex. จันทร์-ศุกร์ เวลา 08.00น.-17.00น." style="margin-bottom: 10px">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label text-lg-right no-padding-right"
            for="annItemReq">อุปกรณ์ที่ต้องนำติดตัว<span style="color: red;" class="asteriskField">*</span> </label>
          <div class="controls col-md-8 ">
            <input class="form-control" id="annItemReq" name="annItemReq" [(ngModel)]="annItemReq"
              placeholder="ex. คอมพิวเตอร์" style="margin-bottom: 10px">
          </div>
        </div>
        <div class="form-group row">
          <div id="div_pos" class="form-group required row controls col-md-6">
            <label for="logpAnnPosId"
              class="col-md-6 col-form-label text-lg-right no-padding-right">ตำแหน่งที่ต้องการรับสมัคร<span style="color: red;"
                class="asteriskField">*</span> </label>
            <div class="controls col-md-5 ">
              <select class="form-control" id="logpAnnPosId" [(ngModel)]="logpAnnPosId">
                <option value='4'>Tester</option>
                <option value='3'>Business Analyst</option>
                <option value='2'>Developer</option>
              </select>
            </div>
            <button id="addpos" class="btn btn-primary">
              <fa name="plus"></fa>
            </button>
          </div>
          <div id="div_know" class="form-group row  controls col-md-6">
            <label for="logkAnnKrdId"
              class="col-md-6 col-form-label text-lg-right no-padding-right">ความสามารถด้านวิชาการ<span style="color: red;"
                class="asteriskField">*</span> </label>
            <div class="controls col-md-5">
              <select class="form-control" id="logkAnnKrdId" [(ngModel)]="logkAnnKrdId">
                <option value='2'>HTML</option>
                <option value='3'>CSS</option>
                <option value='1'>PHP</option>
                <option value='4'>JavaScript</option>
                <option value='5'>SQL</option>
                <option value='6'>Java</option>
                <option value='7'>C#</option>
              </select>

            </div>
            <button id="addknow" class="btn btn-primary">
              <fa name="plus"></fa>
            </button>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label text-lg-right">วันคัดเลือกส่งใบสมัคร<span style="color: red;"
              class="asteriskField">*</span>
          </label>
          <div class="controls col-md-3">
            <mat-form-field>
              <input matInput [matDatepicker]="annStartDate" [(ngModel)]="date.annStartDate">
              <mat-datepicker-toggle matSuffix [for]="annStartDate"></mat-datepicker-toggle>
              <mat-datepicker #annStartDate startView="year" [startAt]="startDate"></mat-datepicker>
            </mat-form-field>
          </div>
          <label class="col-md-1 col-form-label text-lg-right no-padding-right">ถึง
          </label>
          <div class="controls col-md-3">
            <mat-form-field>
              <input matInput [matDatepicker]="annEndDate" [(ngModel)]="date.annEndDate">
              <mat-datepicker-toggle matSuffix [for]="annEndDate"></mat-datepicker-toggle>
              <mat-datepicker #annEndDate startView="year" [startAt]="startDate"></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
        <div>
          <div class="form-group pull-right">
            <button type="button" class="btn btn-success" (click)="updateAnouncement()">บันทึก</button>
          </div>
        </div>

      </div>
    </div>