<div class="container-contact100">
  <div class="wrap-contact100">
    <form class="contact100-form validate-form">
      <span class="contact100-form-title">
        ใบสมัครเป็นนิสิตสหกิจศึกษา (IN-S001)
      </span>
      <!--ส่วนชื่อภาษาไทย-->
      <div class="form-group" style="width:15%">
        <label for="">คำนำหน้า</label>
        <select class="form-control" id="">
          <option>นาย</option>
          <option>นางสาว</option>
        </select>
      </div>

      <div class="form-group" style="width:40%;">
        <label for="">ชื่อ</label>
        <input type="text" class="form-control" id="" aria-describedby="" placeholder="">
      </div>

      <div class="form-group" style="width:40%;">
        <label for="">นามสกุล</label>
        <input type="text" class="form-control" id="" aria-describedby="" placeholder="">
      </div>
      <!--ส่วนชื่อภาษาไทย-->

      <!--ส่วนชื่อภาษาอังกฤษ-->
      <div class="form-group" style="width:15%">
        <label for="">Prefix</label>
        <select class="form-control" id="">
          <option>Mr.</option>
          <option>Miss</option>
        </select>
      </div>

      <div class="form-group" style="width:40%;">
        <label for="">Firstname</label>
        <input type="text" class="form-control" id="" aria-describedby="" placeholder="">
      </div>

      <div class="form-group" style="width:40%;">
        <label for="">Lastname</label>
        <input type="text" class="form-control" id="" aria-describedby="" placeholder="">
      </div>
      <!--ส่วนชื่อภาษาอังกฤษ-->

      <!--ส่วนการศึกษา-->
      <div class="form-group" style="width:30%;">
        <label for="">รหัส</label>
        <input type="text" class="form-control" id="" aria-describedby="" placeholder="">
      </div>

      <div class="form-group" style="width:30%;">
        <label for="">ชั้นปี</label>
        <input type="text" class="form-control" id="" aria-describedby="" placeholder="">
      </div>

      <div class="form-group" style="width:30%;">
        <label>จำนวนหน่วยกิตที่ผ่านแล้ว</label>
        <input type="text" class="form-control" id="" placeholder="">
      </div>

      <div class="form-group" style="width:30%;">
        <label>เกรดเฉลี่ย</label>
        <input type="text" class="form-control" id="" placeholder="">
      </div>

      <div class="form-group" style="width:30%;">
        <label for="">หลักสูตร</label>
        <input type="text" class="form-control" id="" aria-describedby="" placeholder="">
      </div>

      <div class="form-group" style="width:30%;">
        <label for="">สาขาวิชา</label>
        <input type="text" class="form-control" id="" aria-describedby="" placeholder="">
      </div>
      <!--ส่วนการศึกษา-->

      <!--ที่อยู่ตามทะเบียนบ้าน-->
      <div class="form-group" style="width:100%;">
        <label for="">ที่อยู่ตามทะเบียนบ้าน (บ้านเลขที่, หมู่, ถนน, ตำบล, อำเภอ, จังหวัด, รหัสไปรษณีย์)</label>
        <textarea class="form-control"></textarea>
      </div>

      <div class="form-group" style="width:20%;">
        <label for="">โทรศัพท์</label>
        <input type="text" class="form-control" id="" aria-describedby="" placeholder="">
      </div>

      <div class="form-group" style="width:20%;">
        <label for="">มือถือ</label>
        <input type="text" class="form-control" id="" aria-describedby="" placeholder="">
      </div>

      <div class="form-group" style="width:50%;">
        <label for="">e-mail</label>
        <input type="text" class="form-control" id="" aria-describedby="" placeholder="">
      </div>
      <!--ที่อยู่ตามทะเบียนบ้าน-->

      <!--ที่อยู่ปัจจุบัน-->
      <!-- <div class="form-group" style="width:20%;">
        <label for="">ที่พักปัจจุบัน</label>
        <select class="form-control" id="sel-address">
          <option id="dorm">หอพัก</option>
          <option id="other">อื่นๆ ระบุ</option>
        </select>
      </div> -->
<!-- 
      <div class="form-group" style="width:80%;">

      </div> -->

      <div class="form-group" style="width:100%;">
        <label for="">ที่อยู่ปัจจุบัน (เลขที่, หมู่, ถนน, ตำบล, อำเภอ, จังหวัด, รหัสไปรษณีย์, โทรศัพท์, มือถือ)
          <p>* กรณีอาศัยหอพัก กรุณาใส่ชื่อหอพักและเลขที่ห้องด้วย *</p>
        </label>
        <textarea class="form-control"></textarea>
      </div>

      <!-- <div class="form-group" style="width:100%;">
        <label for="">บ้าน/อื่นๆ (บ้านเลขที่, หมู่, ถนน, ตำบล, อำเภอ, จังหวัด, รหัสไปรษณีย์)</label>
        <textarea class="form-control"></textarea>
      </div> -->

      <div class="form-group" style="width:20%;">
        <label for="">โทรศัพท์</label>
        <input type="text" class="form-control" id="" aria-describedby="" placeholder="">
      </div>

      <div class="form-group" style="width:20%;">
        <label for="">มือถือ</label>
        <input type="text" class="form-control" id="" aria-describedby="" placeholder="">
      </div>

      <div class="form-group" style="width:50%;">
        <label for="">e-mail</label>
        <input type="text" class="form-control" id="" aria-describedby="" placeholder="">
      </div>
      <!--ที่อยู่ปัจจุบัน-->

      <!--ผู้ปกครอง-->
      <div class="form-group" style="width:38%;">
        <label for="">ชื่อผู้ปกครอง</label>
        <input type="text" class="form-control" id="" aria-describedby="" placeholder="">
      </div>

      <div class="form-group" style="width:38%;">
        <label for="">นามสกุลผู้ปกครอง</label>
        <input type="text" class="form-control" id="" aria-describedby="" placeholder="">
      </div>

      <div class="form-group" style="width:20%;">
        <label for="">ความสัมพันธ์กับนิสิต</label>
        <input type="text" class="form-control" id="" aria-describedby="" placeholder="">
      </div>

      <div class="form-group" style="width:100%;">
        <label for="">ที่อยู่ (บ้านเลขที่, หมู่, ถนน, ตำบอล, อำเภอ, จังหวัด, รหัสไปรษณีย์)</label>
        <textarea class="form-control"></textarea>
      </div>

      <div class="form-group" style="width:20%;">
        <label for="">โทรศัพท์</label>
        <input type="text" class="form-control" id="" aria-describedby="" placeholder="">
      </div>
      <div style="width:5%;">

      </div>

      <div class="form-group" style="width:20%;">
        <label for="">โทรสาร</label>
        <input type="text" class="form-control" id="" aria-describedby="" placeholder="">
      </div>

      <div style="width:5%;">

      </div>

      <div class="form-group" style="width:50%;">
        <label for="">e-mail</label>
        <input type="text" class="form-control" id="" aria-describedby="" placeholder="">
      </div>
      <!--ผู้ปกครอง-->

      <button type="button" class="btn btn-secondary" style="width:10%;"><a href="/profile-management"
          style="color:white;">ยกเลิก</a></button>
      <button type="button" class="btn btn-success" style="width:10%;"><a href="#"
          style="color:white;">บันทึก</a></button>

    </form>
  </div>
</div>