<div class="container-contact100">
  <div class="wrap-contact100">
    <form class="contact100-form validate-form">
      <span class="contact100-form-title">จัดการชั่วโมงอบรมของนิสิต</span>

                  <div class="hizli-menu container-fluid">
                    <div class="hizli-menu-ic container">
                  
                      <div class="row">
                        <!--เมนู IN-S001-->
                        <div class="col-sm-6 mbottom">
                          <a class="btn-group" href="/profile-management/staff-training">
                            <div class="row" style="padding-left: 20%;">
                              <div class="col-md-4 col-xs-5">
                              </div>
                              <div class="col-12">
                                <span>
                                  <fa name="street-view"></fa> อบรมวิชาการ
                                </span>
                              </div>
                            </div>
                          </a>
                        </div>
                        <!--เมนู IN-S001-->
                  
                        <!--ดาวน์โหลด IN-S001-->
                        <div class="col-sm-6 mbottom">
                          <a class="btn-group" href="/profile-management/staff-coop">
                            <div class="row" style="padding-left: 20%;">
                              <div class="col-md-4 col-xs-5">
                              </div>
                              <div class="col-12">
                                <span>
                                  <fa name="comments"></fa> อบรมเตรียมความพร้อมสหกิจศึกษา
                                </span>
                              </div>
                            </div>
                          </a>
                        </div>
                        <!--ดาวน์โหลด IN-S001-->
                      </div>
                  
                    </div>
                  </div>

    </form>
  </div>
</div>