<div class="container-contact100">
  <div class="wrap-contact100">
    <form class="contact100-form validate-form">
      <span class="contact100-form-title">จัดการชั่วโมงอบรมของนิสิต</span>


      <!-- <table class="table table-hover ng-scope" style="text-align: center;">
            <thead style="background:#B0C4DE;">
              <tr>
                <th class="ng-binding ng-scope">รหัสนิสิต</th>
                <th class="ng-binding ng-scope">ชื่อ - นามสกุล</th>
                <th class="ng-binding ng-scope">อบรมวิชาการ</th>
                <th class="ng-binding ng-scope">อบรมเตรียมความพร้อม</th>
                <th class="ng-binding ng-scope">จัดการ</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="row in data.rows" class="ng-scope">
                <td class="ng-binding">58160651</td>
                <td class="ng-binding">เกศสุดา ทวีสุข</td>
                <td class="ng-binding">3</td>
                <td class="ng-binding">3</td>
                <td class="ng-binding">
                  <a href="#" style="padding-left: 2%;">
                    <fa name="edit" class="btn btn-warning" style="color:white"></fa>
                  </a>
                </td>
              </tr>
              <tr ng-repeat="row in data.rows" class="ng-scope">
                <td class="ng-binding">58160500</td>
                <td class="ng-binding">สุกัลย์ สิทธิบำรุงสุข</td>
                <td class="ng-binding">6</td>
                <td class="ng-binding">6</td>
                <td class="ng-binding">
                  <a href="#" style="padding-left: 2%;">
                    <fa name="edit" class="btn btn-warning" style="color:white"></fa>
                  </a>
                </td>
              </tr>
            </tbody>
          </table> -->

    </form>
  </div>
</div>