<div class="container">
    <div class="accordion mt-5" id="accordionExample">
        <div class="card">
            <div class="card-header">
              <h5 class="mb-0">
                <div class="bd-content-title" data-toggle="collapse" aria-expanded="true" aria-controls="collapseOne">
                  นิสิตที่ลงสมัครคัดเลือก
                </div>
              </h5>
            </div>
            <div class="collapse show" data-parent="#accordionExample">
              <div class="card-body">
                <div class="form-group">
                  <label for="exampleFormControlTextarea1">โปรดอธิบายให้ผู้อื่นรู้จักตัวท่านดีขึ้น</label>
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                    placeholder="คำอธิบาย..."></textarea>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
              <div class="card-header">
                <h5 class="mb-0">
                  <div class="bd-content-title" data-toggle="collapse" aria-expanded="true" aria-controls="collapseOne">
                    นิสิตที่อยู่ในระหว่างการพิจารณา
                  </div>
                </h5>
              </div>
              <div class="collapse show" data-parent="#accordionExample">
                <div class="card-body">
                  <div class="form-group">
                    <label for="exampleFormControlTextarea1">โปรดอธิบายให้ผู้อื่นรู้จักตัวท่านดีขึ้น</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                      placeholder="คำอธิบาย..."></textarea>
                  </div>
                </div>
              </div>
            </div>
            <div class="card">
                <div class="card-header">
                  <h5 class="mb-0">
                    <div class="bd-content-title" data-toggle="collapse" aria-expanded="true" aria-controls="collapseOne">
                      นิสิตที่ผ่านการคัดเลือกเป็นนิสิตสหกิจศึกษา
                    </div>
                  </h5>
                </div>
                <div class="collapse show" data-parent="#accordionExample">
                  <div class="card-body">
                    <div class="form-group">
                      <label for="exampleFormControlTextarea1">โปรดอธิบายให้ผู้อื่นรู้จักตัวท่านดีขึ้น</label>
                      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                        placeholder="คำอธิบาย..."></textarea>
                    </div>
                  </div>
                </div>
              </div>
            
      </div>
</div>