<div class="card">
  <div class="card-header" for="org_name_th">บริษัท</div> <!-- เรียกตัวแปรชื่อบริษัท-->
  <div class="card-body">

    <form style="padding:20px;">
      <div class="form-row">
        <div class="form-group col-md-6 form-inline">
          <label for="org_address">สถานที่ติดต่อ : </label>
          <label id="org_address"></label>
        </div>
        <div class="form-group col-md-6 form-inline">
          <label for="ann_pos_name_en" style="padding:10px;">ตำแหน่งที่เปิดรับสมัคร : </label>
          <label id="ann_pos_name_en"></label>
        </div>

      </div>

      <div class="form-group">
        <label for="inputAddress">จำนวนที่รับ : X คน</label>
        <label id="inputAddress"></label>
      </div>
      <div class="form-group">
        <label for="ann_kreq_name_en">ความสามารถทางวิชาการ : </label>
        <label id="ann_kreq_name_en"></label>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6 form-inline">
          <label>วันคัดเลือกส่งใบสมัคร : </label>
          <label id="ann_start_date"> - </label>
          <label id="ann_end_date"></label>
        </div>
        <div class="form-group col-md-6 form-inline">
          <label for="ann_workshift">วันทำงาน : </label>
          <label id="ann_workshift">
          </label>
        </div>
      </div>
      <div class="form-row">
          <div class="form-group col-md-6 form-inline">
            <label for="ann_reward">ค่าตอบแทน : </label>
            <label id="ann_reward"> - บาท/วัน</label>
          </div>
          <div class="form-group col-md-6 form-inline">
            <label for="ann_item_req">อุปกรณ์ที่ต้องนำติดตัวไป : </label>
            <label id="ann_item_req">
            </label>
          </div>
        </div>

      <button type="submit" class="btn btn-primary float-right">ลงสมัคร</button>

    </form>
  </div>
</div>