<nav class="navbar navbar-dark bg-primary">
    <img src="https://i.imgur.com/oD0DYqk.jpg" style="width:100px;height:70px;">
    <form class="form-inline my-2 my-lg-0">
       
        <!--<label for="exampleFormControlFile1">ภคนันท์ ทองมี รหัสนิสิต:58160XXX ตำแหน่ง:นิสิต</label>&nbsp;&nbsp;
        -->
  <a href="login"><button class="btn btn-light my-2 my-sm-0" type="button">Login</button></a>
      </form>
  </nav>
  <br>
  <div class="alert alert-danger" role="alert">
    <h4 class="alert-heading">ไม่สามารถลงสมัครได้</h4>
  <p>นิสิตอยู่ในช่วงพิจารณาคัดเลือกเข้าปฏิบัติงานสหกิจศึกษา ไม่สามารถสมัครเพิ่มได้ในขณะนี้</p>
  </div>
  <div style="padding:50px;">
  <div class="row">
    <div class="col-sm-4 order-sm-2 mb-4">
      <ul class="list-group mb-3">
        <li class="list-group-item d-flex justify-content-between bg-light">
          <div>
            <h6 class="my-0">สมัครคัดเลือก</h6>
            <small class="text-muted"></small>
          </div>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">ประกาศ</h6>
            <small class="text-muted"></small>
          </div>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">จัดการข้อมูลส่วนตัว</h6>
            <small class="text-muted"></small>
          </div>
          <span class="text-muted"></span>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div class="text-muted">
            <h6 class="my-0">ดูผลการคัดเลือก
            </h6>
            <small></small>
          </div>
          <span class="text-success"></span>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div class="text-muted">
            <h6 class="my-0">แนะนำการใช้งาน
            </h6>
            <small></small>
          </div>
          <span class="text-success"></span>
        </li>
      </ul>
    </div>
  
    <div class="col-md-8 order-md-2">
    </div>
  </div>
  </div>