<div class="container">
  <div class="accordion mt-5" id="accordionExample">
    <div class="card">
      <div class="card-header">
        <h5 class="mb-0">
          <div class="bd-content-title" data-toggle="collapse" aria-expanded="true" aria-controls="collapseOne">
            สถานะการสอบวัดผลทักษะก่อนเข้าร่วมโครงการเป็นนิสิตสหกิจศึกษา
          </div>
        </h5>
      </div>
      <div class="collapse show" data-parent="#accordionExample">
        <div class="card-body">
          <div class="row">
            <label for="staticEmail" class="col-sm-2 col-form-label">สถานะการสอบทักษะ :</label>
            <div class="custom-control custom-radio col-sm-1 col-form-label">
              <input disabled="true" class="custom-control-input" type="radio" name="TestQualifyingStatus"
                [checked]="true">
              <label *ngIf="add_std.stdTestScore == 'Y'" class="custom-control-label">
                ผ่าน
              </label>
              <label *ngIf="add_std.stdTestScore == 'N'" class="custom-control-label">
                ไม่ผ่าน
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <h5 class="mb-0">
          <div class="bd-content-title" data-toggle="collapse" aria-expanded="true" aria-controls="collapseOne">
            สถานะการมีส่วนร่วมเข้าฟังอบรมเตรียมความพร้อมในการเป็นนิสิตสหกิจศึกษา
          </div>
        </h5>
      </div>
      <div class="collapse show" data-parent="#accordionExample">
        <div class="card-body">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">ประเภทการอบรม</th>
                <th scope="col">รายละเอียดของประเภท (Description)</th>
                <th scope="col">จำนวนชั่วโมงสะสม (Hours)</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td scope="row">อบรมเตรียมความพร้อม</td>
                <td scope="row">การอบรมเพื่อเตรียมความพร้อมสำหรับการไปสหกิจศึกษา</td>
                <td style="text-align: center" scope="row">{{add_std.stdHrPrepare}}</td>
              </tr>
              <tr>
                <td scope="row">อบรมวิชาการ</td>
                <td scope="row">การอบรมเชิงวิชาการสำหรับการไปสหกิจศึกษา</td>
                <td style="text-align: center" scope="row">{{add_std.stdHrConference}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <h5 class="mb-0">
          <div class="bd-content-title" data-toggle="collapse" aria-expanded="true" aria-controls="collapseOne">
            สถานะการสมัครคัดเลือกเข้าเป็นนิสิตสหกิจศึกษา <label *ngIf="add_std.stdStatusId != 2 && add_std.stdStatusId != 4" for="exampleFormControlTextarea1">(ไม่สามารถลงสมัครเป็นนิสิตสหกิจศึกษาได้ในขณะนี้)</label>
              <label *ngIf="add_std.stdStatusId == 2" for="exampleFormControlTextarea1">({{message}})</label>
              <label *ngIf="add_std.stdStatusId == 4" for="exampleFormControlTextarea1">(ผ่านการคัดเลือกเป็นนิสิตสหกิจศึกษาแล้ว)</label>
          </div>
        </h5>
      </div>
      <div class="collapse show" data-parent="#accordionExample">
        <div class="card-body">
          <div class="form-group">
            <button class="btn btn-primary btn-lg btn-block" *ngIf="add_std.stdStatusId != 4" routerLink="/announcement">ดูประกาศรับสมัคร</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>