<div class="container-contact100">
    <div class="wrap-contact100">
        <form class="contact100-form validate-form">
            <span class="contact100-form-title">จัดการข้อมูลส่วนตัวนิสิต</span>
            <div class="hizli-menu container-fluid">
                <div class="hizli-menu-ic container">

                    <div class="row">
                        <!--เมนู IN-S001-->
                        <div class="col-sm-6 mbottom">
                            <a class="btn-group" href="/profile-management/ins">
                                <div class="row"  style="padding-left: 20%;">
                                    <div class="col-md-4 col-xs-5">
                                    </div>
                                    <div class="col-12">
                                    <span><fa name="user-plus"></fa> ใบสมัครเป็นนิสิตสหกิจศึกษา (IN-S001)</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!--เมนู IN-S001-->

                        <!--ดาวน์โหลด IN-S001-->
                        <div class="col-sm-6 mbottom">
                            <a class="btn-group" href="/profile-management/downloadins">
                                <div class="row" style="padding-left: 20%;">
                                    <div class="col-md-4 col-xs-5">
                                    </div>
                                    <div class="col-12">
                                        <span>
                                            <fa name="download"></fa> ดาวน์โหลดใบสมัครเป็นนิสิตสหกิจศึกษา (IN-S001)
                                        </span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!--ดาวน์โหลด IN-S001-->
                    </div>

                    <div class="row">
                        <!--เมนูผลการสอบทักษะ-->
                        <div class="col-sm-6 mbottom">
                            <a class="btn-group" href="/profile-management/skill-test">
                                <div class="row" style="padding-left: 20%;">
                                    <div class="col-md-4 col-xs-5">
                                    </div>
                                    <div class="col-12">
                                        <span>
                                            <fa name="code"></fa> ผลการสอบทักษะ
                                        </span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!--เมนูผลการสอบทักษะ-->

                        <!--เมนูอปโหลดไฟล์ผลการศึกษา-->
                        <div class="col-sm-6 mbottom">
                            <a class="btn-group" href="/profile-management/upload-transcript">
                                <div class="row" style="padding-left: 20%;">
                                    <div class="col-md-4 col-xs-5">
                                    </div>
                                        <div class="col-12">
                                            <span><fa name="upload"></fa> อัปโหลดเอกสารผลการศึกษา</span>
                                        </div>
                                </div>
                            </a>
                        </div>
                        <!--เมนูอปโหลดไฟล์ผลการศึกษา-->
                    </div>

                    <div class="row">
                        <!--เมนูอัปโหลดเรซูเม่-->
                        <div class="col-sm-6 mbottom">
                            <a class="btn-group" href="/profile-management/upload-resume">
                                <div class="row" style="padding-left: 20%;">
                                    <div class="col-md-4 col-xs-5">
                                    </div>
                                    <div class="col-12">
                                        <span>
                                            <fa name="upload"></fa> อัปโหลดเรซูเม
                                        </span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!--เมนูอัปโหลดเรซูเม่-->
                    </div>

                </div>
            </div>
        </form>
    </div>
</div>
