<div class="container">
  <div class="accordion mt-5" id="accordionExample">
    <div class="card">
        <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <!--data-target="#collapseOne"-->
              <div class="bd-content-title" data-toggle="collapse" aria-expanded="true" aria-controls="collapseOne">
                  รายละเอียดการประกาศรับสมัครนิสิตสหกิจศึกษา
              </div>
            </h5>
          </div>
     <div *ngIf="org">
      <div class="card-body">
          <div class="panel-body">
            <form class="needs-validation" novalidate="">
              <div class="row">
                <div class="col-md-6 mb-3">
                  <label>ตำแหน่งที่เปิดรับสมัคร : </label>
                   {{orgAddress}}
                </div>
                <div class="col-md-6 mb-3">
                  <label for="">จำนวนที่รับ : </label>
                  <span id=""></span>&nbsp;คน
                </div>
              </div>

              <div class="mb-3">
                <label for="">ความสามารถทางวิชาการ</label>
                <span class="input-group-text"></span>
              </div>

              <div class="mb-3">
                <label for="">สวัสดิการ : <span class=""></span></label>
              </div>

              <div class="mb-3">
                <label for="orgAddress">ที่ตั้งสถานประกอบการ :</label>
        
              </div>

              <hr class="mb-4">
              <button class="btn btn-primary btn-lg btn-block" type="submit">ลงสมัคร</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>