<div class="container">
  <div class="accordion mt-5" id="accordionExample">
    <div class="card">
        <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <!--data-target="#collapseOne"-->
              <div class="bd-content-title" data-toggle="collapse" aria-expanded="true" aria-controls="collapseOne">
                  รายละเอียดการประกาศรับสมัครนิสิตสหกิจศึกษา
              </div>
            </h5>
          </div>
     <div *ngIf="org||annData||logReqKnow||ListKnowlegde ">
      <div class="card-body">
          <div class="panel-body">
            
              <div class="row">
                <div class="col-md-6 mb-3" *ngIf="ListPosition">
                  <label>ตำแหน่งที่เปิดรับสมัคร :
                  <span *ngFor="let pos of ListPosition"> {{pos.annPosNameEn}}</span>
                </label>
                </div>
                <div class="col-md-6 mb-3" *ngIf="annData && annData[0]">
                  <label >จำนวนที่รับ : {{annData[0].annStdAmount}}</label>
                  <span></span>&nbsp;คน
                </div>
              </div>

              <div class="mb-3">
                <label for="">ความสามารถทางวิชาการ :</label>
                <span *ngFor="let kr of ListKnowlegde"> {{kr.annKreqNameEn}} </span>
              </div>

              <div class="mb-3" *ngIf="annData && annData[0]">
                <label >สวัสดิการ : <span class="">{{annData[0].annReward}}</span></label>
              </div>

              <div class="mb-3"  *ngIf="org && org[0]">
                <label >ที่ตั้งสถานประกอบการ :</label>
                {{org[0].orgAddress}}
              </div>

              <hr class="mb-4">
              <button class="btn btn-primary btn-lg btn-block" type="submit">ลงสมัคร</button>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>