/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import url('./assets/custom-font.css');
@import "~@ng-select/ng-select/themes/default.theme.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

*{
    font-family: 'Sarabun', sans-serif;
}

.btn-primary{
    background-color: #244f99 !important;
    border-color: #4f72ac !important;
}

.btn-primary:hover {
    color: #fff;
    background-color: #4f72ac;
    border-color: #6080b3;
}

.btn-primary:focus, .btn-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(36, 79, 153, 0.5) !important;
}

textarea{
    min-height: calc(1.5em + .75rem + 2px);
    max-height: 200px;
}

/* :root{
    --primary : #4f72ac !important;
} */

.no-padding{
    padding: 0px !important;
}

.no-padding-right{
    padding-right: 0px !important;
}

.no-padding-left{
    padding-left: 0px !important;
}

.no-padding-top{
    padding-top: 0px !important;
}

.no-padding-bottom{
    padding-bottom: 0px !important;
}

.no-padding-top-bottom{
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.no-padding-right-left{
    padding-right: 0px !important;
    padding-left: 0px !important;
}