<div class="container">
  <div class="accordion mt-5" id="accordionExample">
    <div class="card">
      <div class="card-header">
        <h5 class="mb-0">
          <div class="bd-content-title" data-toggle="collapse" aria-expanded="true" aria-controls="collapseOne">
            เกี่ยวกับสหกิจศึกษา
          </div>
        </h5>
      </div>
      <div class="collapse show" data-parent="#accordionExample">
        <div class="card-body">
          <div class="form-group">
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;สหกิจศึกษา(Cooperative Education) เป็นระบบการศึกษาที่เน้นการปฏิบัตงานในสถานประกอบการอย่างมีระบบ
              โดยจัดให้มีการเรียนในสถานศึกษาร่วมกับการจัดให้นิสิตระดับชันปี ที่ 4 ไปปฏิบัตงานจริง ณ สถานประกอบการที่ให้ความร่วมมือในฐานะเป็นพนักงานชั่วคราว
              เป็นเวลาไม่น้อยกว่า 16 สัปดาห์ และจะได้รับหน่วยกิต 6 หน่วยกิต ในระบบการศึกษา</p>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <h5 class="mb-0">
          <div class="bd-content-title" data-toggle="collapse" aria-expanded="true" aria-controls="collapseOne">
            วัตถุประสงค์
          </div>
        </h5>
      </div>
      <div class="collapse show" data-parent="#accordionExample">
        <div class="card-body">
          <div class="form-group">

            <li>เพื่อเพิ่มเติมประสบการณ์ทางด้านอาชีพและการพัฒนาตนเองแก่นิสิต</li>
            <li>เปิดโอกาสให้หน่วยงานทั้งภาครัฐและเอกชนได้มีส่วนร่วมในการพัฒนาคุณภาพบัณฑิต</li>
            <li>เพื่อให้เกิดการพัฒนาหลักสูตรการเรียนการสอนให้ทันสมัย</li>
            <li>ส่งเสริมและสร้างความสัมพันธ์ระหว่างมหาวิทยาลัย กับสถานประกอบการ</li>

          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <h5 class="mb-0">
          <div class="bd-content-title" data-toggle="collapse" aria-expanded="true" aria-controls="collapseOne">
            ลักษณะของงานสหกิจศึกษา
          </div>
        </h5>
      </div>
      <div class="collapse show" data-parent="#accordionExample">
        <div class="card-body">
          <div class="form-group">

            <li>นิสิตปฏิบัติงานในสถานประกอบการเปรียบเสมือนลูกจ้างชั่วคราว</li>
            <li>มีหน้าที่รับผิดชอบที่แน่นอนตรงตามสาขาวิชาที่นิสิตเรียน</li>
            <li>มีพนักงานที่ปรึกษา (Job Supervisor) ดูแลสอนงานนิสิต</li>
            <li>ปฏิบัติงานเต็มเวลา (Full time) ตามระเบียบที่สถานประกอบกําหนด และต้องปฏิบติตามระเบียบปริหารงานบุคคลของสถานประกอบการโดยเคร่งครัด</li>
            <li>ระยะเวลาปฏิบัติงาน 1 ภาคการศึกษา (16 สัปดาห์ หรือ 4 เดือน)</li>
            <li>นิสิตต้องทํารายงานวิชาการ 1 เล่ม ในหัวข้อและเนื้อหาที่สถานประกอบการกําหนดให้</li>
            <li>อาจมีค่าตอบแทนและสวัสดิการตามที่สถานประกอบการกําหนด ซึงอาจจะปรับไปตามสถานการณ์ทางเศรษฐกิจ</li>

          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <h5 class="mb-0">
          <div class="bd-content-title" data-toggle="collapse" aria-expanded="true" aria-controls="collapseOne">
            คุณสมบัติของนิสิตสหกิจศึกษา
          </div>
        </h5>
      </div>
      <div class="collapse show" data-parent="#accordionExample">
        <div class="card-body">
          <div class="form-group">

            <li>มีผลการเรียนเฉลี่ยตั้งแต่ 2.50 ขึ้นไป หรือได้รับความเห็นชอบจากกรรมการบริหารหลักสูตรและได้รับการตอบรับจากสถานประกอบการ</li>
            <li>ต้องสอบผ่านรายวิชาพื้นฐานที่สาขาวิชากําหนดเป็นเงื่อนไขของวิชาสหกิจศึกษา</li>
            <li>มีความประพฤติเรียบร้อย ไม่เคยผิดระเบียบวินัยนิสิต</li>
            <li>มีวุฒภาวะและสามารถพัฒนาตนเองได้</li>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>